:root {
    --bg0: #2D2A2E;
    --bg1: #37343A;
    --bg2: #3B383E;
    --bg3: #423F46;
    --bg4: #49464E;
    --bg-dim: #211F21;
    --fg: #E3E1E4;
    --black: #1A181A;
    --gray: #848089;
    --gray-dim: #605D68;
    --red: #F85E84;
    --bg-red: #FF6188;
    --diff-red: #55393D;
    --orange: #EF9062;
    --yellow: #E5C463;
    --diff-yellow: #4E432F;
    --green: #9ECD6F;
    --bg-green: #A9DC76;
    --blue: #7ACCD7;
    --diff-blue: #354157;
    --bg-blue: #78DCE8;
    --purple: #AB9DF2;
}
